@model IEnumerable<Superhero_App.Models.Superhero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <strong>Registered Heroes</strong>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeroName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperheroID)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HeroName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperheroID)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuperheroID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SuperheroID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SuperheroID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
